body
{
  font-family: sans-serif;
  background-color: #dff;
  margin: 5px;
}
body  > h1
{
  text-align: center;
}

.big-blog
{
  display: flex;
}

.blog1
{
  display: flex;
}

.blog2
{
  display: flex;
}
section
{
  margin: 20px;
  background-color: #bbb;
}

p
{
  margin: 10px;
}

.section1 h1
{
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  /*background-color: red;
  width: 50%;
  margin: 0px 0px 0px 222px;
  margin-top: 0px;
  margin-right: 0px;
    float: right;
    text-align: center;
    border-bottom: 2px solid black;
    border-left: 2px solid black;*/
}

.section2 h1
{
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}
.section3 h1
{
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-item
{
  border: 2px solid black;
  text-align: center;
  font-size: 2rem;
}
#food
{
  font-size: 3rem;
  font-weight: bold;
}
.navbar
{
  border: 3px solid black;
}
.navbar-nav
{
  visibility: hidden;
}
@media screen and (max-width: 992px)
{
  .big-blog
  {
    display: block;
  }
  .blog1
  {
    display: flex;
  }
}
@media screen and (max-width: 767px)
{
  .navbar-nav
{
  visibility: visible;
}
  .big-blog
  {
    display: inline-block;
  }

  .blog1
  {
    display: block;
  }
  .blog2
  {
    display: block;
  }
  .section1,.section2
  {
    width: 100%;
  }
  .section3
  {
    width: 100%;
  }
}
