body
{
  font-family: sans-serif;
  background-color: #dff;
  margin: 5px;
}
section
{
  margin: 20px;
  background-color: #bbb;
}

p
{
  margin: 10px;
}

.section1 h1
{
  font-weight: bold;
  font-size: 1.5rem;
}

.section2 h1
{
  font-weight: bold;
  font-size: 1.5rem;
}
.section3 h1
{
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-item
{
  border: 2px solid black;
  text-align: center;
  font-size: 2rem;
}
#food
{
  font-size: 3rem;
  font-weight: bold;
}
.navbar
{
  border: 3px solid black;
}
.navbar-nav
{
  visibility: hidden;
}
@media screen and (max-width: 992px)
{
  .big-blog
  {
    display: block;
  }
  .blog1
  {
    display: flex;
  }
}
@media screen and (max-width: 767px)
{
  .navbar-nav
{
  visibility: visible;
}
}
